streamlit
fastapi
uvicorn
opencv-python
numpy
pandas
matplotlib
Pillow
torch
torchvision
torchaudio
librosa
scipy
gTTS
googletrans==4.0.0rc1
SpeechRecognition
transformers
accelerate
llama-cpp-python
python-multipart
requests
tqdm
imageio
imageio-ffmpeg
ffmpeg-python
scikit-learn
openai-whisper
audio-recorder-streamlit
